@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
    /* border: 3px solid white; */
}


html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(240, 100%, 50%);
}

header {
    background-color: #202529;
    height: 100px;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
}
header nav img {
    height: 25px;

}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-flex {
    width: 100%;
    background-color: aliceblue;
}

header nav {
    width: 350px;
    height: 100%;
    /* border: 3px solid white; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: white;
    /* font-family: ; */
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 255, 251);
    font-size: smaller;
    text-shadow: 0px 5px 2.5px black;
}


main {
    /* background-color: blue; */
    width: 100%;
    height: 80%;

}

form {
    background-color: rgba(240, 248, 255, 0.318);
    /* border: 2px solid chocolate; */
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 50px;
    height: 500px;
}

form h1 {
    margin-bottom: 60px;
    text-transform: capitalize;
}

.preencher-dados label {
    width: 100%;
}

.preencher-dados {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}
.preencher-dados a {
    text-align: end;
    font-size: small;
}

.preencher-dados input {
    height: 38px;
    border-radius: 7px;
    padding-left:5px ;
    border: none;
}
.preencher-dados a {
    text-decoration: none;
    color: black;
}
.logar {
    background-color: black;
    color: aliceblue;

    width: 50%;
    height: 38px;
    border-radius: 7px;
    border: none;
    margin-top: 30px;
    font-size: medium;

}
.logar:hover{
    background-color: rgb(64, 152, 206);
    color: white;
}
